

#framed-content {
   width: 100%;
   //margin: 0 auto;
   float: left;
}

#clear {
   float: clear;
}

.tab {
   display: inline;
   width: 49%;
   height: 100%;
}

#links { 
   width: 53%;
}

#cubelink {
   position: relative;
   float: right;
}

#sheet {

}

.chart {
}

.charts {
   width: 500px;
   float: left;
}

td.pick {
   border:  1px solid #333333;
   width: 30px;
   height: 30px;
}

#color_identities {
   border-collapse: collapse;
}

td.G {
   background:#57e357;
}

td.U {
   background:#3333ff;
}
.B {
   background:#333333;
}
td.W {
   background: #FFFF99;
}
td.R {
   background:#ff3333;
}

td.Simic {
   background: #3333ff; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #3333ff, #57e357); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #3333ff, #57e357); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #3333ff, #57e357); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #3333ff, #57e357); /* Standard syntax */
}

td.Izzet {
   background: #3333ff; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #3333ff, #ff3333); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #3333ff, #ff3333); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #3333ff, #ff3333); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #3333ff, #ff3333); /* Standard syntax */
}

td.Rakdos {
   background: #ff3333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ff3333, #333333); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ff3333, #333333); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ff3333, #333333); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ff3333, #333333); /* Standard syntax */
}

td.Selesnya {
   background: #57e357; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ffff99, #57e357); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ffff99, #57e357); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ffff99, #57e357); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ffff99, #57e357); /* Standard syntax */
}

td.Azorious {
   background: #ffff99; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ffff99, #3333ff); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ffff99, #3333ff); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ffff99, #3333ff); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ffff99, #3333ff); /* Standard syntax */
}

td.Boros {
   background: #ff3333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ff3333, #ffff99); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ff3333, #ffff99); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ff3333, #ffff99); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ff3333, #ffff99); /* Standard syntax */
}

td.Golgari {
   background: #57e357; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #333333, #57e357); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #333333, #57e357); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #333333, #57e357); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #333333, #57e357); /* Standard syntax */
}
td.Dimir {
   background: #333333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #333333, #3333ff); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #333333, #3333ff); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #333333, #3333ff); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #333333, #3333ff); /* Standard syntax */
}


td.Gruul {
   background: #ff3333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ff3333, #57e357); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ff3333, #57e357); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ff3333, #57e357); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ff3333, #57e357); /* Standard syntax */
}

td.Orzhov {
   background: #FFFF99; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #FFFF99, #333333); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #FFFF99, #333333); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #FFFF99, #333333); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #FFFF99, #333333); /* Standard syntax */
}

td.Jund {
   background: #333333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #333333, #ff3333, #57e357); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #333333, #ff3333, #57e357); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #333333, #ff3333, #57e357); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #333333, #ff3333, #57e357); /* Standard syntax */
}

td.Esper {
   background: #3333ff; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #333333, #3333ff, #ffff99); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #333333, #3333ff, #ffff99); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #333333, #3333ff, #ffff99); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #333333, #3333ff, #ffff99); /* Standard syntax */
}

td.Naya {
   background: #57e357; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #57e357, #ff3333, #ffff99); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #57e357, #ff3333, #ffff99); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #57e357, #ff3333, #ffff99); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #57e357, #ff3333, #ffff99); /* Standard syntax */
}

td.Grixis {
   background: #ff3333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #333333, #ff3333, #3333ff); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #333333, #ff3333, #3333ff); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #333333, #ff3333, #3333ff); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #333333, #ff3333, #3333ff); /* Standard syntax */
}

td.Bant {
   background: #ffff99; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #57e357, #ffff99, #3333ff); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #57e357, #ffff99, #3333ff); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #57e357, #ffff99, #3333ff); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #57e357, #ffff99, #3333ff); /* Standard syntax */
}

td.Jeskai {
   background: #3333ff; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ff3333, #ffff99, #3333ff); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ff3333, #ffff99, #3333ff); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ff3333, #ffff99, #3333ff); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ff3333, #ffff99, #3333ff); /* Standard syntax */
}

td.Temur {
   background: #57e357; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ff3333, #57e357, #3333ff); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ff3333, #57e357, #3333ff); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ff3333, #57e357, #3333ff); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ff3333, #57e357, #3333ff); /* Standard syntax */
}
td.Mardu {
   background: #ff3333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #ff3333, #ffff99, #333333); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #ff3333, #ffff99, #333333); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #ff3333, #ffff99, #333333); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #ff3333, #ffff99, #333333); /* Standard syntax */
}

td.Abzan {
   background: #ffff99; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #333333, #ffff99, #57e357); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #333333, #ffff99, #57e357); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #333333, #ffff99, #57e357); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #333333, #ffff99, #57e357); /* Standard syntax */
}

td.Sultai {
   background: #333333; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #3333ff, #333333, #57e357); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #3333ff, #333333, #57e357); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #3333ff, #333333, #57e357); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #3333ff, #333333, #57e357); /* Standard syntax */
}


td.Land {
   background: #ad855c;
}

td.Colorless {
   background: #DBE2EF;
}

.padding {
   border: 0;
}
