
<div class="container">
   <div [@slideTrigger]="slideState" (mouseover)="openTab()" (mouseleave)="closeTab()" class="footer">
      <div class="tab">&copy;</div>
      <div class="thanks">
         <div>You can <a href="https://github.com/pharaxe/lightning-draft">view this project on Github</a>.</div>
         <div>Thank you to <a href="https://mtgjson.com/">MTGJSON</a>, 
         <a href="https://www.slightlymagic.net/forum/viewtopic.php?t=4430">SVG mana symbols</a>, and
         <a href="http://visualdecklist.com/">Visual Decklist</a>.</div>
      </div>
      <div class="legal-footer">
         <div>Magic: the Gathering and all associated card images and names are Copyright &copy; Wizards of the Coast</div>
         <div>This website is not affiliated with Wizards of the Coast in any way.</div>
      </div>
   </div>
</div>
